
.contact_us h1 {
   
    padding: 10px;
    margin-left: 35%;;
    
}

form {
    padding: 20px 40px;
}

.form-control {
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* position: relative; */
       
}

/* .form>*{
    margin: 10px;
} */

form>input {
    height: 30px;
    background-color: grey;
  }
form>div>input {
    margin-top: 10px;
}
.form-control small {
      visibility:hidden  ;
      /* position: absolute;
      margin: 5px;*/
     } 


.form-control input {
    display: block;
    padding: 7px;
    border-radius: 4px;
    border: 2px solid #d8d1d1;
}

.form-control.success input {
    border: 2px solid greenyellow;
}

.form-control.error input {
    border: 2px solid red;
}

button{
    background-color: #6a7b8b;
    padding: 10px;
    border-radius: 5px;
    /* border: 2px solid #d8d1d1;; */
    width: 50%;
    margin-left: 27%;
    margin-top: 50px;
    color:  #d8d1d1;
    cursor: pointer;
}
